<%= form_with(model: trip) do |form| %>
  <% if trip.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
        <% trip.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="border-b border-gray-900/10 pb-12">
    <div class="m-2">
      <h2 class="text-base font-semibold leading-7 text-gray-900"><%= form.label :name, "Trip Name", style: "display: block" %></h2>
      <%= form.text_field :name %>
    </div>
  <div class="m-2">
    <h2 class="text-base font-semibold leading-7 text-gray-900"><%= form.label :start_date, "Trip Start", style: "display: block" %></h2>
    <%= form.date_field :start_date %>
  </div>

  <div class="m-2">
    <h2 class="text-base font-semibold leading-7 text-gray-900"><%= form.label :end_date, "Trip End", style: "display: block" %>
    <%= form.date_field :end_date %>
  </div>

 <div>
  <h2 class="text-base font-semibold leading-7 text-gray-900">Trip Link</h2>
  <%= form.fields_for :links do |link_form| %>
    <div class="mb-4">
      <%= link_form.label :name, "Link Name", class: "block text-sm font-medium text-gray-700" %>
      <%= link_form.text_field :name, class: "mt-1 p-2 border rounded-md w-full" %>
    </div>

    <div class="mb-4">
      <%= link_form.label :url, "Link URL", class: "block text-sm font-medium text-gray-700" %>
      <%= link_form.text_field :url, class: "mt-1 p-2 border rounded-md w-full" %>
    </div>
  <% end %>
</div>

    <div class="m-2">
      <h2 class="text-base font-semibold leading-7 text-gray-900"><%= form.label :description, "Trip Description", style: "display: block" %></h2>
      <p class="block w-full text-gray-900 shadow-sm placeholder:text-gray-400 focus:ring-indigo-600 sm:text-sm sm:leading-6"><%= form.text_area :description %></p>
    </div>

    <div class="mt-6 flex items-center justify-end gap-x-6">
      <%= form.submit "Save Trip!", class: "rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
    </div>
  </div>
<% end %>
