<div id="<%= dom_id trip %>">
  <div>
    <h2 class="block text-md font-medium leading-loose text-gray-900">Name:</h2>
    <%= trip.name %>
  </div>

  <div>
    <h2 class="block text-md font-medium leading-loose text-gray-900">Description:</h2>
    <%= trip.description %>
  </div>

  <div>
    <h2 class="block text-md font-medium leading-loose text-gray-900">Start date:</h2>
    <%= trip.start_date %>
  </div>

  <div>
    <h2 class="block text-md font-medium leading-loose text-gray-900">End date:</h2>
    <%= trip.end_date %>
  </div>

</div>
