<div id="<%= dom_id trip %>" class="p-4">
  <div>
    <h2 class="block text-md font-medium leading-loose text-gray-900">Name:</h2>
    <%= trip.name %>
  </div>

  <div>
    <h2 class="block text-md font-medium leading-loose text-gray-900">Description:</h2>
    <div class="<%= 'line-clamp-1' if controller_name == 'trips' && action_name == 'index' %>">
  <%= trip.description %>
</div>
  </div>

  <div>
    <h2 class="block text-md font-medium leading-loose text-gray-900">Start date:</h2>
    <%= trip.start_date %>
  </div>

  <div>
    <h2 class="block text-md font-medium leading-loose text-gray-900">End date:</h2>
    <%= trip.end_date %>
  </div>

</div>
