<p style="color: green"><%= notice %></p>

<div class="flex flex-row max-md:flex-col">

<div>
<%= render @trip %>
</div>

<!-- Display Links -->
<div class="mt-4">
  <h2 class="text-lg font-semibold">Links:</h2>
  <% @links.each do |link| %>
    <div class="flex items-center mt-2">
      <%= raw("<i class='fa-solid fa-link block text-sm font-medium text-gray-700 m-2'></i>") %>
      <%= link_to link.name, link.url, target: "_blank", class: "text-gray-800 hover:underline hover:text-violet-700 hover:font-bold" %>
    </div>
  <% end %>
</div>

<div class="max-md:flex max-md:flex-col max-md:justify-center max-md:items-center">

<div class="border-2 border-slate-200 m-2">

<div class="m-3 border-b border-gray-900/10 pb-8">


<div>
  <p class="text-xl font-normal">Places on this trip:</p>
  <h2  class="block text-3xl text-center font-black leading-loose text-gray-900"><%= @places.count %><i class="fa-solid fa-location-crosshairs p-2 text-gray-600"></i></h2>
</div>

<div class="p-2">
  <%= button_to "Add Place!", new_trip_place_path(@trip), method: :get, class: "text-sm font-semibold leading-6 text-gray-900" %>
</div>

<div class="p-2 hidden md:block">
  <%= link_to trip_places_path(@trip), class: "text-sm font-semibold leading-6 text-gray-900" do %>
    Show Places!
  <% end %>
</div>

<div class="p-2 block md:hidden" id="openModal">
  <button class="text-xl font-semibold leading-6 text-gray-900" id="openModalButton">
    <i class="fa-solid fa-arrow-up-right-from-square"></i>
  </button>
</div>

</div>

<div class="m-4 flex items-center gap-x-6 p-4 max-md:justify-center">
  <%= link_to edit_trip_path(@trip), class: "text-3xl font-normal leading-6 text-gray-900" do %>
  <%= icon('fa-solid', 'pen-to-square') %>
<% end %> |
  <%= link_to "Go Back!", trips_path, class: "text-sm font-semibold leading-6 text-gray-900" %>

  <%= button_to @trip, method: :delete, class: "rounded-md bg-rose-600 px-3 py-2 text-3xl font-semibold text-white shadow-sm hover:bg-rose-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-rose-600" do %>
  <%= icon('fa-solid', 'trash') %>
<% end %>

</div>

</div>

</div>

</div>

<!-- Modal HTML -->
<div id="placesModal" class="max-md:fixed max-md:inset-0 max-md:bg-black max-md:bg-opacity-50 hidden">
  <div class="max-md:absolute max-md:top-1/2 max-md:left-1/2 max-md:transform -translate-x-1/2 -translate-y-1/2 max-md:bg-white max-md:p-4 max-md:rounded" data-modal style="max-height: 80vh; overflow-y: auto;">
    <!-- Your modal content goes here -->
    <div id="placesModalContent">
  <%= render partial: "places/place", collection: @trip.places %>
</div>
    <button id="closeModal" class="mt-4 bg-indigo-600 text-white font-bold px-4 py-2 rounded-md shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Back!</button>
  </div>
</div>

<%= javascript_include_tag 'modal' %>
