<div class="max-md:mx-4 mt-4">
  <div class="text-2xl font-bold max-md:text-xl">
    <p><%= place.name %></p>
  </div>
  <div class="max-md:mx-2 max-md:my-2 max-md:p-2 max-md:bg-gray-100 max-md:rounded">
    <p><%= place.description %></p>
  </div>
  <div class="text-gray-500 max-md:text-sm">
    <p>Visited on: <%= place.date_visited.strftime("%B %d, %Y") %></p>
  </div>

  <!-- Display Links -->
  <div class="mt-4">
    <h2 class="text-lg font-semibold">Links:</h2>
<% place.links.each do |link| %>
  <div class="flex items-center mt-2">
    <%= raw("<i class='fa-solid fa-link text-blue-500 mr-2'></i>") %>
    <%= link_to link.name, link.url, class: "text-blue-500 hover:underline" %>
  </div>
<% end %>
</div>
</div>